@import "tailwindcss";
@plugin 'daisyui';
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: "#111B3C";
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  color: white;
  background: linear-gradient(
    152deg,
    rgba(2, 6, 24, 1) 0%,
    rgba(22, 36, 86, 1) 50%,
    rgba(15, 23, 43, 1) 100%
  );
}
