@import "tailwindcss";
@plugin 'daisyui';
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: "#111B3C";
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.active {
  border: 1px solid white;
  padding: 8px 12px;
  border-radius: 12px;
  backdrop-filter: blur(4px);
  border: 1px solid rgb(155, 218, 255);
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.6),
    inset 0 0 10px rgba(255, 255, 255),
    0 10px 20px rgba(155, 218, 255, 0.651);
  transition: all 0.3s ease;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  color: white;
  background: linear-gradient(
    152deg,
    rgba(2, 6, 24, 1) 0%,
    rgba(22, 36, 86, 1) 50%,
    rgba(15, 23, 43, 1) 100%
  );
}
